<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>kpmgo</name>
        <version>1.0</version>
        <author>clint</author>
        <id>net.clint64.kpmgo</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
